<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->

<link href="__STATIC__/css/index/login.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>瞳狱——注册</title>
<meta name="keywords" content="瞳狱">
<meta name="description" content="瞳狱">




</head>
<body>
<div class="dowebok">
  <div class="logo"></div>
  <div class="form-item">
    <input id="username" type="text" autocomplete="off" placeholder="用户名">
    <p class="tip tip_email">请输入合法的用户名</p>
  </div>
  <div class="form-item">
    <input id="password" type="password" autocomplete="off" placeholder="登录密码">
    <p class="tip tip_password">邮箱或密码不正确</p>
  </div>
  <div class="form-item">
    <input id="repassword" type="password" autocomplete="off" placeholder="重复密码">
    <p class="tip tip_password">重复密码不正确</p>
  </div>
  <div class="form-item"><button id="submit">注册</button></div>
  <div class="reg-bar">
    <a class="reg" href="javascript:">立即登录</a>
    <a class="forget" href="javascript:">忘记密码</a>
  </div>
</div>
<script src="__STATIC__/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script>
    $(function () {
        $('input').val('')
        $('#submit').on('click', function () {

            submit_register();
        })
    })

  function submit_register(){

        var durl= "{:\\think\\Url::build('login/do_register')}";

        var username=$('#username').val();
        var password=$('#password').val();
        var repassword=$('#repassword').val();



        //验证用户名
        if(username==''||username.length>25||username.length<8){
            $('.tip_email').show();
            return false;
        }
        //验证密码格式
        if(password==''||password.length>50||password.length<6){
            $('.tip_password').show();
            return false;
        }
        //验证重复密码
      if(password!=repassword){
          $('.tip_password').show();
          return false;
      }
        //提交信息到控制器
      $.ajax({
          type:"post",
          url:durl,
          data:{
              username:username,
              url:durl,
              pwd:password,
          },
          dataType:'json',
          success:function(data){
              if(data==1){
                  layer.alert('注册成功',function(index){

                      window.location.href="{:\\think\\Url::build('Index/index')}" ;});

              }
              else if(data==2){
                  layer.alert('用户名已存在');
              }
              else{
                  layer.alert('注册失败，请重试！');
              }
          },
          error:function(){
              layer.alert('网络错误');
          }

      })



  }
</script>



</body>
</html>